<div class="container-fluid" id="inside" style="border:1px solid #444242;"  id="register" ng-controller="registerCtrl">
						<h1>Enter Employee Details</h1>
						 <form class="form-horizontal" role="form" action="/AdminDatabase" method="post">
							<div class="form-group">
								<label class="control-label col-sm-3" for="name">Employee Name</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="username" id="ename" placeholder="Employee Name" >
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="id">Employee Id</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="eid" id="eid" placeholder="Employee Id">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="dob">Date of Birth</label>
								<div class="col-sm-9">
									<input type="date" class="form-control"  name="dob" id="dob" placeholder="Date of Birth">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="tp">Telephone No</label>
								<div class="col-sm-9">
									<input type="text" class="form-control"  name="tp" id="tp" placeholder="Telephone No">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="address">Address</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="address" id="address" placeholder="Address">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="email">Email</label>
								<div class="col-sm-9">
									<input type="email" class="form-control" name="email" id="email" placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="fbid">FB_Id</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="fbid" id="fbid" placeholder="Facebook Id">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="job">Job Title</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="job" id="job" placeholder="Job Title">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="pwd">Password</label>
								<div class="col-sm-9">
									<input type="Password" class="form-control" name="password" id="pwd" placeholder="Password">
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-9">
									<button type="submit" class="btn btn-default">Register</button>
								</div>
							</div>

						</form>
					</div>
						