<div class="col-md-3" id="right_side">
	<form>
		<div class="form-group">
		<h3>Change Question Type</h3>
		<select class="form-control" id="sel1">
			<option value="1">Multiple Choice Questions</option>
			<option value="2">Essay Questions</option>
		</select>
		</div> 
	</form>

	<form id="choices">
		<div class="form-group">
		<h3>Choices</label></h3>
		<select class="form-control" id="sel1">
			<option value="c1">2</option>
			<option value="c2">3</option>
			<option value="c3">4</option>
			<option value="c4">5</option>
		</select>
		</div> 
	</form>
</div>