<div class="section">
			<nav class="navbar navbar-default navbar-fixed-top role="navigation"/>
				<div class="container-fluid">
					<div class="navbar-header">
						<img src='/images/Logo.png' height="50px" align="left" />
						<a class="navbar-brand">WebForms</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="/AdminDatabase/updateEmployee/profile"><span class="glyphicon glyphicon-user"></span>My profile</a></li>
						<li><a href="#">Help</a></li>				
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/Logout"><b>Log out</b></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
    </div></br></br></br>
  
		<div class="container-fluid">
			<div class="section">
				<ul class="nav nav-tabs">
						<li><a href="/home"><span class="glyphicon glyphicon-home"></span>   Home</a></li>
						<li><a href="/CreateSurvey"><span class="glyphicon glyphicon-registration-mark"></span> CreateSurvey</a></li>
						<li><a href="/SubmitSurvey"><span class="glyphicon glyphicon-comment"></span>  SubmitSurvey</a></li>
				</ul>
			</div></br></br>