<!DOCTYPE html>
<html >
  <head>
  	 <% include ../partials/Common/head %>	
  </head>

  <body ng-app="app">
    
    <% include ../partials/Common/header %>

			<div class="section">
				<div class="container">
					

				</div>
			</div>
		</div>

		
		 
  </body>
</html>
