<!DOCTYPE html>
<html >
  <head>
  	<% include ../partials/Common/head %>	
  </head>

  <body ng-app="app" ng-controller="MainController">
    
    <% include ../partials/Common/header %>

			<div class="section">
				<div class="col-md-3">
					<ul class="nav nav-pills nav-stacked">
						<li class="active"><a href="#">Inbox</a></li>
						<li><a href="#">Draft</a></li>
					</ul>
				</div>
				 
				<% include ../partials/Submit/inbox %>
				
			</div>
	 
  </body>
</html>
