<!DOCTYPE html>
<html >
  <head>
  	 <% include ../partials/Common/head %>	
  </head>

  <body ng-app="app">
    
    <% include ../partials/Common/header_SurveyTaker %>

			<div class="section">
				<div>
					<div id="largeIcon" style="background-color: black;"><br/><br/><br/>
						<div class="container">
							<div class="row">
					            <div class="col-md-3 portfolio-item">
					                <a href="AdminDatabase">
					                    <img class="img-responsive" src="/images/Logo.png/500x300 " alt="">
					                </a>
					            </div>
					            <div class="col-md-3 portfolio-item">
					                <a href="CreateSurvey">
					                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
					                </a>
					            </div>
					            <div class="col-md-3 portfolio-item">
					                <a href="SubmitSurvey">
					                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
					                </a>
					            </div>
					            <div class="col-md-3 portfolio-item">
					                <a href="profile">
					                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
					                </a>
					            </div>
					            
							</div></br>

								<div class="row">
					            <div class="col-md-3 portfolio-item">
					                <a href="#">
					                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
					                </a>
					            </div>
					            <div class="col-md-3 portfolio-item">
					                <a href="#">
					                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
					                </a>
					            </div>
					            <div class="col-md-3 portfolio-item">
					                <a href="#">
					                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
					                </a>
					            </div>
					            <div class="col-md-3 portfolio-item">
					                <a href="#">
					                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
					                </a>
					            </div>
					            
							</div></br></br></br></br></br></br>
						</div>

					</div>

				</div>
			</div>
		</div>

		
		 
  </body>
</html>
