<!DOCTYPE html>
<html ng-app="app">

  <head>
    <link data-require="bootstrap@3.3.2" data-semver="3.3.2" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script data-require="bootstrap@3.3.2" data-semver="3.3.2" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script data-require="jquery@2.1.3" data-semver="2.1.3" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script data-require="angular.js@1.3.15" data-semver="1.3.15" src="https://code.angularjs.org/1.3.15/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/AngularApp2.js"></script>
  </head>

  <body>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg"> 
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
            <div ng-controller="dynamicFields">
              <h1>Dynamic Form Fields Creation Plugin</h1>
              <form class="form-horizontal" ng-submit="addESurvey()">
                <div class="row">
                  <label class="control-label col-sm-2" for="name" style="color:#538b01;">Survey Name</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control"  placeholder="Enter surveyname" ng-model="surveyname"> 
                  </div>
                  <label class="control-label col-sm-2" for="name" style="color:#538b01;">Survey Id</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control"  placeholder="Enter survey Id" ng-model="surveyId">
                  </div>
                </div>

                <div>
                  <div class="form-group" data-ng-repeat="question in questions">
                    <label for="question" class="control-label col-sm-2" style="color:#538b01;"> {{question.id}} </label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" ng-model="question.value" value="" placeholder="Enter a restaurant name" id="{{question.id}}">
                      <button class="btn btn-success" ng-show="showAddQuestion(question)" ng-click="addNewQuestion()">Add Question</button>
                      <button class="btn btn-success" ng-click="removeNewQuestion()">Remove Question</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-success">Add survey</button>
                    </div>
                  </div>
                </div>  
              </form>

              <div id="questionDisplay">
                {{ quevalue }}
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>                 
        </div>
      </div>            
    </div>
  </body>
</html>
