<!DOCTYPE html>
<html >
  <head>
    <% include ../partials/Common/head %>
  </head>

  <body ng-app="app">
    
    <% include ../partials/Common/header %>


			<div class="section">
				<div class="col-md-3">
					<ul class="nav nav-pills nav-stacked">
							<li><a href="/AdminDatabase/register">Register New Employee</a></li>
							<li><a href="/AdminDatabase/viewUser">View Employee Details</a></li>
							<li><a href="#">Delete Employee</a></li>
						</ul>
				</div>

				<div class="col-md-9">
					<div class="container-fluid" id="inside" style="border:1px solid #444242; color: white;">
						<div class="inbox-body">
							<div>

								<table class="table table-inbox">
					        <tbody>
									  <% users.forEach( function( user ){ %>
						          <tr class="unread" >
						            <td style="width: 50%"><a><%= user.username %></a></td>
										 		<td style="width: 50%"><a href="viewUser/<%= user._id %>"><%= user.id %></a></td>
					            </tr>
					          <% }); %>
					         	</tbody>
				        </table>
				        
							</div>
						</div>
					</div>
				</div>
			</div>
		 
  </body>
</html>
